@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.5;
}


/*HEADER*/

.header{
    height: 60px;
    width: 100%;
    padding: 0px 50px;
    background-image: linear-gradient(to top, rgba(93, 96, 102, 0.4) 0%, rgba(42, 120, 221, 0.8) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}

#toggle-menu{
    display: none;
}


.navbar{
    display: flex;
}

.navbar i{
    font-size: 30px;
    display: none;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
}

.Logo{
    height: 180%;
    font-family: 'Bebas Neue', cursive;
}

.navbar-link{
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 2px 5px;
    border-radius: 20px;
}

/*RESPONSIVE HEADER*/

@media (max-width: 775px){
    .navbar ul{
       background-image: linear-gradient(to top, #103b72 0%, #537895 100%);
       width: 100%;
       height: calc(100vh - 80px) ;
       position: absolute;
       top: 50px;
       left: 0;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       transform: translateX(200%);
       transition: all 0.5s ease-out;
    }
    .navbar i{
       display: block;
    }
   
    #toggle-menu:checked + .navbar-list{
       transform: translateX(0);
       transition: all 0.4s ease-in;
    }
   
    .navbar-link{
       color: white;
    }
   
    }



/*BOTONES*/

button{
    font-size: 0.8em;
    font-weight: 70px;
    padding: 3px 3px;
    border-radius: 10px;
    border: 0.5px solid rgb(105, 146, 199, 0.8);
    box-shadow: 2px 2px 15px rgb(63, 123, 198, 0.8) ;
    color: white;
    background-image: linear-gradient(to top, rgba(70, 126, 209, 0.8) 0%, rgba(85, 89, 97, 0.8) 100%);
}

button:hover{
    background-color: rgba(33, 104, 184, 0.813);
}


/* MAIN: SECCION VIDEO*/


h1{
    font-weight: 350;
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-top: 80px;
}


.showcase{
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: rgb(228, 235, 248);
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url(./video.mp4) no-repeat center center/cover;
}

.video-container video{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4)
}

.content{
    z-index: 0;
}

/*SECCION DE BIENVENIDOS*/

#bienvenidos{
    height: 60vh;
    background-image: linear-gradient(to top, rgba(102, 100, 100, 0.8) 0%, rgba(36, 109, 204, 0.8) 100%);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    
}

.bienvenidos-conteiner{
    max-width: 1000px;
    margin: auto;
}




.color-acento{
    color: #03afff;
    text-decoration: underline;
}

/*SECCION FOOTER-ICONOS*/

footer{
    flex-direction: column;
    align-items: center;
    position: center;
    padding: 10px;
    background-color: rgb(14, 49, 95, 0.8);
}

.conteiner-icons a{
    position: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 0.3s;
    transition-property: transform;
}

.conteiner-icons a:not(:last-child){
    margin-right: 60px;
}

.iconos{
    flex-direction: column;
    position: center;
}

.conteiner-icons a:hover{
    transform: scale(1.5);
}






